.todolist-body{
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}


.todolist-header{
    text-align:center;
}

.todolist-filter{
    display:flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.todolist-filter-status{
    flex: 20%;
    margin-bottom: 2%;
    margin-right: 5%;
}

.todolist-filter-status-button{
    width: 100%;
}

.todolist-filter-category{
    flex: 20%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.todolist-filter-search{
    flex: 60%;
    margin-left: 5%;
    margin-right: 5%;
}