/*REMOVE LATER*/
.project-list-body{
    background-color: white;
    min-height:100%;
    overflow-y: scroll;
    height: 80%
    
}

.link-element{
    margin: auto;
    margin-bottom: 1%;  
    font-size: x-large;
    text-align:center;
    width: 70%;
}

.link-status{
    font-size: x-small;
    margin-bottom: -2%;
    text-align: left;
}

.header{
    margin: auto;
    margin-bottom: 1%;
    text-align: center;
    font-weight: bold;
}

.add-project-form{
    margin: auto;
    width: 20%;
    align-self: center;
    background-color: white;
}

.add-project-button{
    margin-top: 10%;
    width: 100%;
}

.searchbar-form{
    flex:50%;
    margin: auto;
    width: 20%;
    margin-left: 10%;
}

.searchbar{
    width: 100%;
}

.projectlist-filter{
    display:flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
}

.projectlist-filter-status{
    flex:50%;
    margin-right: 10%;
}

